# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode and PyCharm project files
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/

# MyPy and Pyright
.mypy_cache/
.dmypy.json
.pyre/

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Ignore dotenv files (secrets!)
.env
.env.*

# Ignore VSCode launch configs
*.code-workspace

data/
data

test.py